:root {
  --main-color: #757575;
  --accent-color: #2196f3;
  --header-color: #212121;
  --white-color: #ffffff;
  --background-btn: #f5f4fa;
  --background-section: #2f303a;
  --footer-text: rgba(255, 255, 255, 0.6);
  --social-link-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* GENERAL */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

.visially-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding: 94px 0px;
}

.section__header {
  height: 80px;
  padding: 0px 0px;

  border-bottom: 1px solid #ececec;
}
.section__hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
  background-color: #c4c4c4;
}

.container {
  width: 1200px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.container__header {
  display: flex;
}

nav {
  display: flex;
  align-items: center;
}

.link {
  display: block;

  text-decoration: none;
  font-weight: 500;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--header-color);
  transition: color 250ms var(--timing-function);
}
.link__nav-contacts {
  display: flex;
  align-items: center;

  color: inherit;
}

.link__icon-email,
.link__icon-phone {
  margin-right: 10px;
  fill: currentColor;
  stroke: currentColor;
}

.link__icon-email {
  width: 16px;
  height: 12px;
}
.link__icon-phone {
  width: 10px;
  height: 16px;
}

.link:hover,
.link:focus,
.link--current {
  color: var(--accent-color);
}
.link--current {
  position: relative;
}

.link--current::after {
  content: "";

  position: absolute;
  top: 275%;
  left: 0;

  width: 100%;
  height: 4px;

  border-radius: 2px;
  background: currentColor;
}

.logo {
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: inherit;
}
.logo--blue {
  color: var(--accent-color);
}
.logo--black {
  color: var(--header-color);
}
.logo--white {
  color: var(--white-color);
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list__item:not(:last-child) {
  margin-right: 50px;
}

/* Footer */
.address-list__link {
  margin-bottom: 9px;

  font-weight: inherit;
  line-height: 1.71;
  letter-spacing: inherit;
  color: var(--white-color);
}
.address-list__contacts {
  font-weight: inherit;
  line-height: 1.71;
  letter-spacing: inherit;
  color: var(--footer-text);
}
.logo--margins-header {
  margin-top: 24px;
  margin-bottom: 25px;
}
address {
  font-style: normal;
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer__section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-section);
}
.footer__container {
  display: flex;
}
.footer-contacts {
  margin-right: 70px;
}
.logo--margins-footer {
  margin: 0px 0px 20px;
}
.footer-social-container {
  margin-right: 93px;
}

.footer-social-container__text,
.form-mailing__text {
  margin-top: 12px;
  margin-bottom: 20px;

  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--white-color);
}
.social-list {
  display: inline-flex;
  justify-content: space-between;

  width: 206px;
  height: 44px;
}
.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  color: var(--social-link-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}
.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.social-list__link:not(:last-child()) {
  margin-right: 10px;
}
.social-list__svg {
  width: 20px;
  height: 20px;

  fill: currentColor;
}

footer .social-list__svg {
  fill: var(--white-color);
}

.form-mailing__thumb {
  display: flex;
  align-items: center;
}

.form-mailing__field {
  display: inline-block;
  position: relative;

  margin-right: 12px;
}
.form-mailing__input {
  width: 358px;
  height: 50px;

  padding-left: 16px;

  color: var(--white-color);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.form-mailing__label {
  display: inline-block;

  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: transform 250ms var(--timing-function);

  font-family: "Roboto";
  font-size: 16px;
  line-height: calc(20 / 16);

  color: var(--footer-text);
}
.form-mailing__svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.form-mailing__input:focus + .form-mailing__label {
  transform: translate(-70px, -50%);
}

/* Studio */

.contacts__list {
  margin-left: auto;
}
.peculiarities__list,
.our-team__list {
  align-items: flex-start;
  gap: 30px;
}

.hero h1 {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-color);
}

.hero-btn {
  display: block;

  width: 216px;
  height: 50px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.hero-btn:active,
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
}

.peculiarities__thumb {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--background-btn);
  border-radius: 4px;
}

.peculiarities__svg {
  width: 70px;
  height: 70px;
}

.peculiarities__title {
  margin-bottom: 10px;

  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  color: var(--header-color);
}

.peculiarities__text {
  line-height: 1.71;
}
.our-mission__section {
  padding-top: 0;
}
.our-mission__thumb {
  position: relative;
}
.our-mission__text {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 370px;
  padding: 27px 0px;

  font-weight: 700;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;

  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
}
.title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--header-color);
}
.our-team__img {
  margin-bottom: 30px;
}
.our-team__title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--header-color);
}
.our-team__text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.our-team .social-list {
  margin: 0 32px 30px;
}

.our-team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.clients__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  color: var(--social-link-color);
  transition: color 250ms var(--timing-function);
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
}
.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients__svg {
  width: 106px;
  height: 60px;

  fill: currentColor;
}

/* Portfolio */

.portfolio__title {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
}
.portfolio__text {
  margin-left: 24px;
  margin-right: 24px;

  font-size: 16px;
  line-height: 1.88;

  color: var(--main-color);
}
.portfolio-btns {
  justify-content: center;

  margin-bottom: 50px;
}
.portfolio-btns__item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
  color: var(--header-color);
  background-color: var(--background-btn);
  border-radius: 4px;
  border: transparent;

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}
.filter-btn--common {
  padding-left: 25px;
  padding-right: 25px;
}
.filter-btn:focus,
.filter-btn:hover,
.filter-btn:active {
  cursor: pointer;

  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio {
  flex-wrap: wrap;
}
.portfolio__item {
  margin-bottom: 30px;
}
.portfolio__item:nth-child(n + 7) {
  margin-bottom: 0px;
}
.portfolio__link:hover,
.portfolio__link:focus {
  animation: portfolio__link-hover 250ms var(--timing-function) forwards;
}

.portfolio__link:focus .portfolio-overlay,
.portfolio__link:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio__link {
  display: block;
  overflow: hidden;

  padding-bottom: 20px;

  text-decoration: none;
  border: 1px solid #eeeeee;
}
.portfolio__thumb {
  position: relative;
  margin-bottom: 20px;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transform: translateY(150%);
  transition: transform 250ms var(--timing-function);

  background: rgba(33, 150, 243, 0.9);
}

.portfolio-overlay__text {
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;

  color: var(--white-color);
}
/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;

  translate: opacity 250 ms var(--timing-function);

  background: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);

  min-width: 528px;
  min-height: 581px;
  padding-top: 30px;
  padding-bottom: 50px;

  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;

  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: transparent;
  transition: stroke 250ms var(--timing-function);
}
.close-btn:hover .close-btn__svg,
.close-btn:focus .close-btn__svg {
  stroke: var(--accent-color);
}
.modal__text {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;

  color: var(--header-color);
}
.close-btn__svg {
  width: 30px;
  height: 30px;

  fill: transparent;
}

.inputs-container {
  width: 448px;
  margin: 0 40px;
}

.inputs-field__label {
  display: block;

  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);

  letter-spacing: 0.01em;

  color: var(--main-color);
}

.inputs-field {
  position: relative;
}

.inputs-field__input {
  display: block;

  width: 448px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.inputs-field__input:focus {
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.inputs-field__input:focus + .inputs-field__svg {
  fill: var(--accent-color);
}
.inputs-field__svg {
  display: inline-block;
  position: absolute;
  top: 28px;
  left: 12px;

  width: 18px;
  height: 18px;
  transition: fill 250ms var(--timing-function);
}
.inputs-field__textarea {
  resize: none;
  height: 120px;

  padding: 12px 16px;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.inputs-field__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.agreement-field {
  display: flex;
  align-items: center;

  position: relative;
  margin-left: auto;
  margin-right: auto;

  width: 425px;
  margin: 0 auto 30px;
}

.agreement-field__label {
  margin-left: 24px;

  line-height: calc(24 / 14);

  color: var(--main-color);
}
.agreement-field__accept,
.agreement-field__no-accept {
  display: inline-block;

  position: absolute;

  top: 50%;
  left: 0;
  width: 16px;
  height: 15px;
  transform: translateY(-50%);
}

.agreement-field__accept {
  opacity: 0;
  transition: opacity 250ms var(--timing-function);
}
.agreement-field__no-accept {
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}
.agreement-field__input:checked ~ .agreement-field__accept {
  opacity: 1;
}
.agreement-field__input:checked ~ .agreement-field__no-accept {
  opacity: 0;
}

.agreement-field__link {
  color: var(--accent-color);
}

@keyframes portfolio__link-hover {
  from {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12) Ð¶;
  }
  50% {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06);
  }
  to {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
