:root {
  --main-color: #757575;
  --accent-color: #2196f3;
  --header-color: #212121;
  --white-color: #ffffff;
  --background-btn: #f5f4fa;
  --background-section: #2f303a;
  --footer-text: rgba(255, 255, 255, 0.6);
  --social-link-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* GENERAL */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.section {
  padding: 94px 0px;
}

header.section {
  padding-top: 0;
  padding-bottom: 0;
}
.hero.section {
  padding-top: 200px;
  padding-bottom: 200px;
}
footer.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

nav {
  display: flex;
  align-items: center;
}

.container.header {
  display: flex;
}
.link {
  display: block;

  text-decoration: none;
  font-weight: 500;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--header-color);
  transition: color 250ms var(--timing-function);
}
.link.nav-contacts {
  display: flex;
  align-items: center;

  color: inherit;
}

.nav-contacts-icon-email,
.nav-contacts-icon-phone {
  margin-right: 10px;

  stroke: currentColor;
}

.nav-contacts-icon-email {
  width: 16px;
  height: 12px;

  fill: currentColor;
}
.nav-contacts-icon-phone {
  width: 10px;
  height: 16px;

  fill: currentColor;
}

.link:hover,
.link:focus,
.current {
  color: var(--accent-color);
}
.current {
  position: relative;
}

.current::after {
  content: '';

  position: absolute;
  top: 275%;
  left: 0;

  width: 100%;
  height: 4px;

  border-radius: 2px;
  background: currentColor;
}

.logo {
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: inherit;
}
.blue-logo {
  color: var(--accent-color);
}
.black-logo {
  color: var(--header-color);
}
.white-logo {
  color: var(--white-color);
}

ul {
  list-style: none;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Footer */
.foot-adress {
  margin-bottom: 9px;

  font-weight: inherit;
  line-height: 1.71;
  letter-spacing: inherit;
  color: var(--white-color);
}
.foot-contacts {
  font-weight: inherit;
  line-height: 1.71;
  letter-spacing: inherit;
  color: var(--footer-text);
}
.container .link.logo {
  margin-top: 24px;
  margin-bottom: 25px;
}
address {
  font-style: normal;
}

address li:not(:last-child) {
  margin-bottom: 9px;
}
footer.section {
  background-color: var(--background-section);
}
footer .container {
  display: flex;
}
.footer-contacts {
  margin-right: 70px;
}
.link.logo.footer {
  margin: 0px 0px 20px;
}
.footer-social-list-links {
  margin-right: 93px;
}

.footer-social-list-links > p,
.form-mailing > p {
  margin-top: 12px;
  margin-bottom: 20px;

  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--white-color);
}
.social-list-links {
  display: inline-flex;
  justify-content: space-between;

  width: 206px;
  height: 44px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  color: var(--social-link-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.social-link:not(:last-child()) {
  margin-right: 10px;
}
.social-link-svg {
  width: 20px;
  height: 20px;

  fill: currentColor;
}

footer .social-link-svg {
  fill: var(--white-color);
}

.mailing-thumb {
  display: flex;
  align-items: center;
}

.field-mailing {
  display: inline-block;
  position: relative;

  margin-right: 12px;
}
.field-mailing input {
  width: 358px;
  height: 50px;

  padding-left: 16px;

  color: var(--white-color);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.field-mailing label {
  display: inline-block;

  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: transform 250ms var(--timing-function);

  font-family: 'Roboto';
  font-size: 16px;
  line-height: calc(20 / 16);

  color: var(--footer-text);
}
.mailing-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.field-mailing input:focus + label {
  transform: translate(-70px, -50%);
}

/* Studio */

.list > .item:not(:last-child) {
  margin-right: 50px;
}

.list.contacts {
  margin-left: auto;
}
.list.peculiarities,
.list.our-team {
  align-items: flex-start;
  gap: 30px;
}

.hero h1 {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-color);
}
.hero.section {
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
  background-color: #c4c4c4;
}
.hero-btn {
  display: block;

  width: 216px;
  height: 50px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.hero-btn:active,
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
}

.hero-btn.form-btn {
  width: 200px;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visially-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.peculiarities-thumb {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--background-btn);
  border-radius: 4px;
}

.peculiarities-svg {
  width: 70px;
  height: 70px;
}

.peculiarities h3 {
  margin-bottom: 10px;

  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  color: var(--header-color);
}

.peculiarities p {
  line-height: 1.71;
}
.section.our-mission {
  padding-top: 0;
}
.our-mission-thumb {
  position: relative;
}
.our-mission-text {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 370px;
  padding: 27px 0px;

  font-weight: 700;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;

  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
}
h2.title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--header-color);
}
.our-team img {
  margin-bottom: 30px;
}
.our-team h3 {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--header-color);
}
.our-team p {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.our-team .social-list-links {
  margin: 0 32px 30px;
}

.our-team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.client-list-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  color: var(--social-link-color);
  transition: color 250ms var(--timing-function);
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
}
.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.client-link-svg {
  width: 106px;
  height: 60px;

  fill: currentColor;
}

/* Portfolio */

.portfolio-title {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
}
.portfolio-text {
  margin-left: 24px;
  margin-right: 24px;

  font-size: 16px;
  line-height: 1.88;

  color: var(--main-color);
}
.list.buttons {
  justify-content: center;

  margin-bottom: 50px;
}
.list.buttons > .portfolio-item:not(:last-child) {
  margin-right: 8px;
}
.btn {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
  color: var(--header-color);
  background-color: var(--background-btn);
  border-radius: 4px;
  border: transparent;

  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.btn.common {
  padding-left: 25px;
  padding-right: 25px;
}
.btn:focus,
.btn:hover,
.btn:active {
  cursor: pointer;

  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list.portfolio {
  flex-wrap: wrap;
}
.list.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.list.portfolio > .portfolio-item:nth-child(n + 7) {
  margin-bottom: 0px;
}
.portfolio-link:hover,
.portfolio-link:focus {
  animation: portfolio-link-hover 250ms var(--timing-function) forwards;
}

.portfolio-link:focus .portfolio-overlay,
.portfolio-link:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-link {
  display: block;
  overflow: hidden;

  padding-bottom: 20px;

  text-decoration: none;
  border: 1px solid #eeeeee;
}
.portfolio-thumb {
  position: relative;
  margin-bottom: 20px;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transform: translateY(150%);
  transition: transform 250ms var(--timing-function);

  background: rgba(33, 150, 243, 0.9);
}

.portfolio-overlay > p {
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;

  color: var(--white-color);
}
/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;

  translate: opacity 250 ms var(--timing-function);

  background: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);

  min-width: 528px;
  min-height: 581px;
  padding-top: 34px;
  padding-bottom: 46px;

  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;

  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: transparent;
  transition: stroke 250ms var(--timing-function);
}
.modal-close-btn:hover .close-btn-svg,
.modal-close-btn:focus .close-btn-svg {
  stroke: var(--accent-color);
}
.modal p {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;

  color: var(--header-color);
}
.close-btn-svg {
  width: 30px;
  height: 30px;

  fill: transparent;
}

.inputs {
  width: 448px;
  margin: 0 40px 20px;
}

.inputs-field label {
  display: block;

  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);

  letter-spacing: 0.01em;

  color: var(--main-color);
}

.inputs-field {
  position: relative;
}

.inputs-field input,
.inputs-field textarea {
  display: block;

  width: 448px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.inputs-field input:focus,
.inputs-field textarea:focus {
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.inputs-field input:focus + .input-svg {
  fill: var(--accent-color);
}
.input-svg {
  display: inline-block;
  position: absolute;
  top: 28px;
  left: 12px;

  width: 18px;
  height: 18px;
  transition: fill 250ms var(--timing-function);
}
.inputs-field textarea {
  resize: none;
  height: 120px;

  padding: 12px 16px;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.agreement-field {
  display: flex;
  align-items: center;

  position: relative;
  margin-left: auto;
  margin-right: auto;

  width: 425px;
  margin: 0 auto 30px;
}

.agreement-field label {
  margin-left: 24px;

  line-height: calc(24 / 14);

  color: var(--main-color);
}
.accept,
.no-accept {
  display: inline-block;

  position: absolute;

  top: 50%;
  left: 0;
  width: 16px;
  height: 15px;
  transform: translateY(-50%);
}

.accept {
  opacity: 0;
  transition: opacity 250ms var(--timing-function);
}
.no-accept {
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}
.agreement-field input:checked ~ .accept {
  opacity: 1;
}
.agreement-field input:checked ~ .no-accept {
  opacity: 0;
}

.agreement-link {
  color: var(--accent-color);
}

@keyframes portfolio-link-hover {
  from {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12) Ð¶;
  }
  50% {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06);
  }
  to {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
